html, body {
    height: 100%;
    width: 100%;
    
}

h1, h2, h3, h4, h5 {
    font-family: 'Josefin Sans', sans-serif !important;
    font-weight: 600;
}

label, button {
    font-weight: 600 !important;
    font-size:24px !important;
}
#buttonMenu div{
    align-items: center;
}
#buttonMenu button{
    width: 70%;
}
input {
    font-family: 'Lato', sans-serif !important;
}

.absoluteCenter {
    display: grid;
    place-items: center;
    background-color:#FFC700;
}

.btn-light {
    background-color: #f2f2f2;
}
/* POP UP */

.fixedCenter {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 35%;
    height: 40%;
    border-radius: 20px;
    border: #f2f2f2 2px solid;
    padding: 10px;
}

.centerGrid {
    place-items: center;
    display: grid;
}

#buttonsSign {
    height: 90%;
    width: 100%;
}

#buttonsSign button {
    width: 40%;
}

#rematchButton {
    width: 70%;
}

.itemsCenter{

    place-items: center;
}
.decentButtons{
    width: 70%;
}


/*INFO BOX */
#infoAbsolute {
    position: fixed;
    left: 50%;
    bottom: 5%;
    transform: translate(-50%, 0%);
    background-color: white;
    width: 50%;
    border-radius: 20px;
    border: #f2f2f2 2px solid;
    padding: 10px;
    place-items: center;
}

#infoAbsolute h2 {
    margin: 0;
}


#gifInfo{
    margin-left:1.5rem;
    height:4ch;
    
}

/*          GAME BOARD          */

.rowGameBoard {
    height: 33.33%;
    height: calc(100% / 3);
    background-color:white;
}

.rowGameBoard .col-sm {
    font-size: 5vw;
    text-align: center;
    place-items: center;
    display: grid;
    padding: 0;
    width: 33.33%;
    width: calc(100% / 3);
}

.rowGameBoard:first-of-type {
    /*First row*/
    border-bottom: black 2.5px solid;
    border-radius: 15px 15px 0px 0px;
}

.rowGameBoard:nth-of-type(2) {
    /*Second row*/
    border-top: black 2.5px solid;
    border-bottom: black 2.5px solid;
}

.rowGameBoard:nth-of-type(3) {
    /*Third row*/
    border-top: black 2.5px solid;
    border-radius: 0px 0px 15px 15px ;
}

.rowGameBoard .col-sm:first-of-type {
    /*First col*/
    border-right: black 2.5px solid;
}

.rowGameBoard .col-sm:nth-of-type(2) {
    /*Second col*/
    border-left: black 2.5px solid;
    border-right: black 2.5px solid;
}

.rowGameBoard .col-sm:nth-of-type(3) {
    /*Third col*/
    border-left: black 2.5px solid;
}

@media only screen and (max-width: 768px) {
    .absoluteCenter{
        padding-bottom:8%;
    }
    #mainContainer {
        width: 90% !important;
        height: 70% !important;
    }
    .rowGameBoard .col-sm {
        font-size: 10vh;
    }
    .fixedCenter {
        height: 60%;
        width: 70%;
    }
    #rematchButton {
        width: 80%;
    }
    #rematchButton button{
        font-size:19px !important;
    }
    #infoAbsolute {
        width: 70%;
        bottom: 1%;
    }
    #buttonMenu button{
        font-size:24px !important;
        width: 100%;
    }
    #gifInfo{
        margin-left:0;
    }

}